<div>
    <div class="content-container">
        <div [hidden]="submitted">
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #addQuestionPop="ngForm">
                <mat-dialog-content>
                    <div class="form-group ">
                        <label for="content">Pyetja</label>
                        <input type="text" size="50" class="form-control" id="content" required
                            [(ngModel)]="question.content" name="content">
                    </div>
                    <div class="form-group">
                        <mat-label>Lloji i pyetjes</mat-label>
                        <br><br>
                        <mat-select placeholder="Zgjidh llojin" (selectionChange)="changeType($event.value)">
                            <mat-option *ngFor="let t of questionTypes" [value]="t.id">
                                {{t.type}}
                            </mat-option>
                        </mat-select>

                    </div>
                    

                </mat-dialog-content>

                <mat-dialog-actions>
                    <button mat-button type="submit" class="btn btn-secondary" style="width: 200px;">Ruaj
                        pyetjen</button>
                    <button mat-button type="button" class="btn btn-secondary" (click)="hapOpsionet()" style="width: 200px;">Shto
                        pergjigjet </button>
                    <button mat-button matDialogClose class="btn btn-secondary"
                        style="margin-left: 5px; width: 200px;">Anullo</button>

                </mat-dialog-actions>
                <br>

            </form>
        </div>
    </div>
</div>