<div>
    <div class="content-container">
        <div [hidden]="submitted">
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #addTutor="ngForm">
                <mat-dialog-content>
                    <div class="form-group ">
                        <label for="name">Emri i kursit</label>
                        <input type="text" size="50" class="form-control" id="name" required [(ngModel)]="course.name"
                            [pattern]="pattern" name="name" #name="ngModel">
                    </div>
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button mat-button type="submit" class="btn btn-secondary"
                        style="width: 200px;">Shto</button>
                    <button mat-button matDialogClose class="btn btn-secondary"
                        style="margin-left: 5px; width: 200px;">Anullo</button>

                </mat-dialog-actions>
            </form>
        </div>
    </div>
</div>
