<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edito Profilin</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #updateUser="ngForm">
              <div class="row">
                <div class="col-md-5">
                  <label>Fakulteti :</label><br>
                  <input type="text" name="facultyName" [(ngModel)]="facultyName" class="form-control" disabled>
                </div>
                <div class="col-md-3">
                  <label>Emri :</label><br>
                  <input type="text" name="name" [(ngModel)]="currentUser.name" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                  <label>Mbiemri :</label><br>
                  <input type="text" name="surname" [(ngModel)]="currentUser.surname" class="form-control" disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email :</label><br>
                  <input type="email" name="email" [(ngModel)]="currentUser.email" class="form-control" >
                </div>
                <div class="col-md-6">
                  <label>Password :</label><br>
                  <input type="password" name="password" [(ngModel)]="currentUser.password" class="form-control"
                    >
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Ndrysho profilin</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{currentUser.role.description}}</h6>
            <h4 class="card-title">{{currentUser.name}} {{currentUser.surname}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>